body {
    background-color: black;
}

.item {
    position: absolute;
    background-color: transparent;
    width: calc(var(--i) * 25px); 
    /* 用于动态计算长度值 需要注意计算规则的使用，运算符号前后都需要有空格*/
    aspect-ratio: 1;
    /* 用来维持长宽比 */
    border: 10px solid rgb(0, 200, 255);
    border-radius: 50%;
    transform: rotateX(70deg);
    /* 让所有元素旋转70° */
    animation: move 3s ease-in-out  calc(var(--i) * 0.08s) infinite;
    /* 设置动画 */
    box-shadow: 
        0px 0px 15px rgb(124, 124, 124),
        inset 0px 0px 15px rgb(124, 124, 124) ;
}

.container { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin-top: 25%; */
}

@keyframes move {
    0%, 100% {
        transform: rotateX(70deg) translateY(0px);
        filter: hue-rotate(0deg);
    }
    50% {
        transform: rotateX(70deg)
                    translateY(-35vw);
        filter: hue-rotate(180deg);
    }
}
